@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindos!</h1>
    <p>Essa é uma aplicação de loja virtual feita com .net, microsserviços e MySql.</p>
</div>
