################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VShopWeb/.vs/VShopWeb
/VShopWeb/Frontend/obj
/VShopWeb/.vs/ProjectEvaluation
/VShopWeb/Frontend/bin/Debug/net6.0
